/*MAIN AREAS*/

html{
  margin:0;
  padding:0;
  width: 100vw;
  height: 100vh;
}

body{
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
  font-family: 'Overpass', sans-serif !important;
  background-color: linear-gradient(#f7f7f7, #ffffff);
}

.background{
  background-color: linear-gradient(#f7f7f7, #ffffff);
}

/*HEADER*/

.header{
  width: 100vw;
  height:5vw;
  display: flex;
  flex-direction: row;
  z-index: 2;
  justify-content: space-around;
  align-items: center;
  background-color: #96FFAF;
  padding: 0;
  margin: 0;
  top:0;
  vertical-align: top;
  position: fixed;
}

.header::after{
  content: '';
    width: 0;
    height: 0;
    position: absolute;
    background-color: #96FFAF;
    z-index: 1;
    top: 0;
    border-right: 110vw solid #96FFAF;
    border-bottom: 7vw solid transparent;
    border-top: 0px solid transparent;
    overflow: hidden;
    transform: rotate(2deg);

}

.header-text{
  top:1vh;
  position: relative;
  font-size: 3vw;
  flex: 1 1 5vw;
  text-align: center;
  z-index: 2;
}

.header-quote{
  flex: 1 1 auto;
  z-index: 2;
  text-align: center;
  font-size: 1vw;
  vertical-align: middle;
}

.header-quote i{
  font-size: 2vw;
}

.header-quote a{
  text-decoration: none;
  color:black;
}

.header-quote a:hover{
  color: #4f4f4f;
}

.header-link{
  text-decoration: none;
  color: black;
}

.header-link:hover{
  color: #4f4f4f;
}



.header-span{
  display: inline-block;
  font-weight: 300;
}

.menu-button-container{
  flex: 1 2 auto;
  border: none;
  background-color: inherit;
  transform-origin: bottom;
  z-index: 2;
  font-size: 2vw;
  text-align: center;
}



/*NAVIGATION*/

.nav-container{
  display: none;
  position: fixed;
  flex-direction: column;
  overflow: scroll;
  width:100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  column-gap: 20%;
  z-index: 10;
  bottom:0;
  left:0;
  right:0;
  padding-top:5vh;
  background-color: hsla(360, 100%, 100%, 0.97);
  transition: 2s;
}



.nav-item{
  flex: 0 0 10%;
  text-align: center;
  font-size: 60pt;
  color: #3d3d3d;
  scroll-behavior: smooth;

}

.selected::before{
  content: "";
  display: inline-block;
  position: relative;
  width:2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #3d3d3d;
  vertical-align: middle;
  margin-right: 1vw;
}
.selected::after{
  content: "";
  display: inline-block;
  position: relative;
  width:2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #3d3d3d;
  vertical-align: middle;
  margin-left: 1vw;
}

.selected:hover::before{
  margin-right: 3vw;
  transition: 1s;
}

.selected:hover::after{
  margin-left: 3vw;
  transition: 1s;
}

.nav-item a{
  text-decoration: none;
  vertical-align: middle;
}

.nav-item a:hover{
  opacity: 50%;
  font-size: 75pt;
  transition: 0.5s;
}

.nav-item-border{
  margin: 1vh 0 1vh 0;
  width: 40vw;
  height: 1px;
  border-bottom: solid 1px lightgray;
}

.nav-exit{
  float: right;
  right: 7vw;
}

.nav-item-exit:hover{
  animation: nav-exit-hover 2s ease infinite;
}



.menu-button:hover{
  animation-name: menu-bounce;
  animation-timing-function: ease;
  animation-duration: 2s;

  animation-iteration-count: infinite;
}

@keyframes nav-item-border{
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@keyframes nav-exit-hover{
  0% {transform: scale(1);}
  50% {transform: scale(0.9);}
  100% {transform: scale(1);}
}

@keyframes menu-bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(5px);}
  100% {transform: translateY(0);}
}

@keyframes menu-item-appear{
  0% {opacity: 10%; transform: translateY(-100px);}
  100% { opacity: 100%; transform: translateY(0);}
}

/*MAIN*/

.main{
  width: 100vw;
  height: auto;
  margin:0;
  margin-top: 10vh;
  padding: 0;
  position: relative;
  z-index: 0;
  top:10vh;
  margin-bottom: 20vh;
}

.main-banner{
  height:30vh;
  padding-bottom:5vh;
  background-image: linear-gradient(#ffffff, #f7f7f7, #F7f7f7);
}

.main-bnr-text{
  padding-left:5vw;
  font-size: 5vw;
}

.main-bnr-txt-spn{
  color: #FFAFB6;
  display: inline-block;
}

.main-bnr-txt-spn:hover{
  animation: wiggle 2s infinite;
}

.main-bnr-link-cntr{
  display: flex;
  flex-direction: row;
  position: relative;
  float: right;
  top:2vh;
  width:50vw;
  line-height: auto;
  height:6vh;
  font-size: 3vw;
}

.main-bnr-link{
  top:5vh;
  width:33ch;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(33);
  float:left;
  font-size: 2vw;
}

@keyframes typing {
  from { width: 0 }
}

.main-bnr-link-crs{
  padding-left: 1vw;
  border-right: 2px solid #1e5cba;
  animation: borderBlink 1s infinite;
  width:0;
  height:5vh;
}

@keyframes borderBlink {
  0%{}
  50%{border-right-color: transparent;}
  100%{border-right: 2px solid #1e5cba;}
}

.main-bnr-link-ln{
  background-color: #f2f2f2;
  margin-right:2vw;
  color: #adadad;
  font-family: monospace;
  font-size: 2vw;
  height:3vh;
}

.main-bnr-link-a{
  color: #55d962;
}

.main-bnr-link-href{
  color: #d15fe8;
}

.main-bnr-link-eq{
  color: #8f8f8f;
}

.main-bnr-link-link{
  color: #498ebf;
}

.main-bnr-link-main{
  text-decoration: none;
  color: black;
}

@keyframes wiggle {
0% { transform: translate(1px, 1px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate (Odeg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.main-border{
  border-top: dotted 5px;
  width:80vw;
  margin-left: 10vw;
  background-color: #f7f7f7;
  position: absolute;
}

.main-grid{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  will-change: contents;
  width:100vw;
  height: 100vh;
  position:static;
  grid-row-gap: 2vh;
  padding-left:5vw;
  padding-right:5vw;
  margin-bottom: 20vh;
  background-image: linear-gradient(#f7f7f7, #ffffff);
  padding-top:5vh;
  grid-auto-rows: 2fr;
}

.main-1{
  background-color: #E3FFE9;
  grid-area: main1;
  grid-row: 1;
  grid-column: 4fr;
  grid-column-start: 1;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  height:auto;
  animation: main-appear 1s 1 paused;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: 1;
}

.main-logo{
  flex: 0 0 50%;
  height:100%;
}



.main-header{
  font-weight: 700;
  top:10vh;
  left: 5vw;
  font-size: 100%;
  display: inline;
  position: relative;
  font-size-adjust: auto;
}

.main-img{
  left:5vw;
  top:7vh;
  font-size: 10vw;
  line-height: auto !important;
  display: inline;
  position: relative;
}

.main-text{
  top:10vh;
  right:4vw;
  font-size: 1.5vw;
  flex: 0 0 50%;
  position: relative;
}

.main-text-spn{
  color: #ffffff;
  display: inline-block;
}

.main-text-spn:hover{
  animation: jump 1s infinite;
}

@keyframes jump {
  0%{}
  50%{transform: translateY(-2vh);}
  100%{transform: translateY(0);}
}


.main-2{
  background-color: #FBB0FF;
  grid-area: main2;
  grid-row: 2;
  grid-column: 4fr;
  grid-column-start: 2;
  border-radius: 25px;
  z-index: 2;
  display: inline-flex;
  animation: main-appear 1s 1 paused;

}

.main-3{
  background-color: #FFA07D;
  grid-area: main3;
  grid-row:3;
  grid-column: 4fr;
  grid-column-start: 3;
  border-radius: 25px;
  z-index: 3;
  display: inline-flex;
  animation: main-appear 1s 1 paused;
  height:100%;

}

@keyframes main-appear {
  0% {opacity: 0%; transform: translateY(5vh);}
  100% {opacity: 100%; transform: translateY(0);}
}

/*FOOTER*/

.footer{
  width:100vw;
  height:10vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30vh;
  bottom: 0;
}

.footer-item{
  flex: 0 0 50vw;
  color: black;
  font-size: auto;
  text-align: center;
}


.social-media{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.social-media i{
  color: black;
}

.social-media i:hover{
  color: lightgray;
}

/*CONTACT*/

.contact-text-container{
  width: 50vw;
  display: inline-block;
  font-size: 2vw;
}

.contact-text{
  margin-left: 10vw;
  margin-top:10vh;
}

.form{
  width:30vw;
  position: fixed;
  top:18vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  float:right;
  text-align: center;
  right: 5vw;
  border-radius: 25px;
  height:80vh;
  z-index: 100;
}

.form-header{
  margin-top: 10vh;
  font-size: 2vw;
}

.form-subheader{
  font-size: 2vw;
}

.contact-form-input{
  display: block;
  width: 90% !important;
  height:5vh;
  margin-top:5vh;
}

.contact-form-input::placeholder{
  font-size: 1vw;
  text-align: center;
  vertical-align: middle;
}

.contact-form-button{
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 10vw;
  --bs-btn-font-size: 0.9vw !important;
}

.contact-form-button p{

}

/*PORTFOLIO*/

.portfolio-grid{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 5%;
  width:90vw;
  left:5vw;
  height:90vh;
}

.portfolio-web{
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  vertical-align: middle;
}

.portfolio-design{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  vertical-align: middle;
}

.portfolio-art{
  grid-column: 3;
  grid-row: 2;
  text-align: center;
  vertical-align: middle;
}

/*MISC.*/

.spc-100{
  height:100px;
}











@media only screen and (max-width: 1000px){



  .main-2{
    background-color: #FBB0FF;
    grid-area: main2;
    grid-row: 2;
    grid-column: 4fr;
    grid-column-start: 1;
    border-radius: 25px;
    z-index: 2;
    display: inline-flex;
    animation: main-appear 1s 1 paused;
    grid-auto-rows: 1fr;
  }

  .main-3{
    background-color: #FFA07D;
    grid-area: main3;
    grid-row:3;
    grid-column: 4fr;
    grid-column-start: 1;
    border-radius: 25px;
    z-index: 3;
    display: inline-flex;
    animation: main-appear 1s 1 paused;
    grid-auto-rows: 1fr;
  }

  .main-bnr-link-crs{
    padding-left: 1vw;
    border-right: 2px solid #1e5cba;
    animation: borderBlink 1s infinite;
    width:0;
    height:2.5vh;

  }

  .main-bnr-link-ln{
    background-color: #f2f2f2;
    margin-right:2vw;
    color: #adadad;
    font-family: monospace;
    font-size: 2vw;
    height:1.5vh;
  }

  .main-text{
    top:2vh;
    right:4vw;
    font-size: 3vw;
    flex: 0 0 50%;
    position: relative;
  }

  .main-header{
    font-weight: 700;
    top:5vh;
    left: 5vw;
    font-size: 100%;
    display: inline;
    position: relative;
    font-size-adjust: auto;
  }

  .main-img{
    left:5vw;
    top:2vh;
    font-size: 10vw;
    line-height: auto !important;
    display: inline;
    position: relative;
  }


}

@media screen and (max-width:900px) {
  .main-grid{
    height: 60vh;
  }

  .main-bnr-link-crs{
    padding-left: 1vw;
    border-right: 2px solid #1e5cba;
    animation: borderBlink 1s infinite;
    width:0;
    height:1.5vh;

  }
}

@media screen and (max-width:850px) {
  .header{
    width: 110vw;
    height:10vw;
    display: flex;
    flex-direction: row;
    z-index: 2;
    justify-content: space-around;
    align-items: center;
    background-color: #96FFAF;
    padding: 0;
    margin: 0;
    top:0;
    vertical-align: top;
    position: fixed;
  }

  .header::after{
    content: '';
      width: 0;
      height: 0;
      position: absolute;
      background-color: #96FFAF;
      z-index: 1;
      top: 0;
      border-right: 110vw solid #96FFAF;
      border-bottom: 17vw solid transparent;
      border-top: 0px solid transparent;
      overflow: hidden;
      transform: rotate(2deg);

  }

  .menu-button-container{
    flex: 1 2 auto;
    border: none;
    background-color: inherit;
    transform-origin: bottom;
    z-index: 2;
    font-size: 4vw;
    text-align: center;
  }

  .header-quote{
    flex: 1 1 auto;
    z-index: 2;
    text-align: center;
    font-size: 2vw;
    vertical-align: middle;
  }

  .header-quote i{
    font-size: 2vw;
  }

  .header-quote a{
    text-decoration: none;
    color:black;
  }

  .header-quote a:hover{
    color: #4f4f4f;
  }
}
