/*************************************
Style.css

created by: Cameron Scholes
Created on: 31/08/2022
website: cameronscholes.com

**************************************
FILE SETUP
**************************************/
@font-face {
  font-family: Overpass;
}

html{
  margin:0;
  padding:0;
  width: 100vw;
  height: 100vh;
}

body{
  width: 100vw;
  min-height:100vh;
  margin:0;
  padding:0;
  font-family: 'Overpass', sans-serif !important;
  background-color: linear-gradient(#f7f7f7, #ffffff);

}

.background{
  background-color: linear-gradient(#f7f7f7, #ffffff);
  position: relative;
  min-height:100vh;
  display: block;
}



/************************************
HEADER ELEMENTS
************************************/

/*Header*/
header{
  width: 100vw;
  height:5vw;
  display: flex;
  flex-direction: row;
  z-index: 2;
  justify-content: space-around;
  align-items: center;
  background-color: #96FFAF;
  padding: 0;
  margin: 0;
  top:0;
  vertical-align: top;
  position: fixed;
}

header::after{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  background-color: #96FFAF;
  z-index: 1;
  top: 0;
  border-right: 110vw solid #96FFAF;
  border-bottom: 7vw solid transparent;
  border-top: 0px solid transparent;
  overflow: hidden;
  transform: rotate(2deg);

}


/*header title*/
.header-text{
  top:1vh;
  position: relative;
  font-size: 3vw;
  flex: 1 1 5vw;
  text-align: center;
  z-index: 2;
}

.header-span{
  display: inline-block;
  font-weight: 300;
}


/*menu button*/
.menu-button-container{
  flex: 1 2 auto;
  border: none;
  background-color: inherit;
  transform-origin: bottom;
  z-index: 2;
  font-size: 2vw;
  text-align: center;
}

.menu-button:hover{
  animation-name: menu-bounce;
  animation-timing-function: ease;
  animation-duration: 2s;

  animation-iteration-count: infinite;
}


/*header quote button*/
.header-quote{
  flex: 1 1 auto;
  z-index: 2;
  text-align: center;
  font-size: 1vw;
  vertical-align: middle;
}

.header-quote i{
  font-size: 2vw;
}

.header-quote a{
  text-decoration: none;
  color:black;
}

.header-quote a:hover{
  color: #4f4f4f;
}

.header-link{
  text-decoration: none;
  color: black;
}

.header-link:hover{
  color: #4f4f4f;
}



/**************************
NAVIGATION
**************************/

/*Nnavigation container*/
.nav-container{
  display: none;
  position: fixed;
  flex-direction: column;
  overflow: scroll;
  width:100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  column-gap: 20%;
  z-index: 10;
  bottom:0;
  left:0;
  right:0;
  padding-top:5vh;
  background-color: hsla(360, 100%, 100%, 0.97);
  transition: 2s;
}


/*navigation items*/
.nav-item{
  flex: 0 0 10%;
  text-align: center;
  font-size: 5vw;
  color: #3d3d3d;
}

.nav-item a{
  text-decoration: none;
  vertical-align: middle;
}

.nav-item a:hover{
  opacity: 50%;
  font-size: 75pt;
  transition: 0.5s;
}


/*selected navigation item*/
.selected::before{
  content: "";
  display: inline-block;
  position: relative;
  width:2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #3d3d3d;
  vertical-align: middle;
  margin-right: 1vw;
}
.selected::after{
  content: "";
  display: inline-block;
  position: relative;
  width:2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #3d3d3d;
  vertical-align: middle;
  margin-left: 1vw;
}

.selected:hover::before{
  margin-right: 3vw;
  transition: 1s;
}

.selected:hover::after{
  margin-left: 3vw;
  transition: 1s;
}

/*navigation formatting*/
.nav-item-border{
  margin: 1vh 0 1vh 0;
  width: 40vw;
  height: 1px;
  border-bottom: solid 1px lightgray;
}

.nav-exit{
  float: right;
  right: 7vw;
}

.nav-item-exit:hover{
  animation: nav-exit-hover 2s ease infinite;
}



/*********************************
MAIN BODY
*********************************/

/*container*/
main{
  margin:0;
  margin-top: 10vh;
  padding: 0;
  margin-bottom:10vh;
  z-index: 0;
  top:10vh;
  position: relative;
  min-height:100vh;
}





/*******************************
FOOTER
*******************************/

/*footer container*/
footer{
  width:100vw;
  height:10vh;
  background-color: #ffffff;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:absolute;
  margin-bottom:-10vh;
}


/*footer items*/
.footer-item{
  flex: 0 0 50vw;
  color: black;
  font-size: auto;
  text-align: center;
}


/*social media flex*/
.social-media{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.social-media i{
  color: black;
}

.social-media i:hover{
  color: lightgray;
}



/*******************************
INDEX
*******************************/

/*banner container*/
.main-banner{
  height:20vh;
  padding-bottom:5vh;
  background-image: linear-gradient(#ffffff, #f7f7f7, #F7f7f7);
}


/*banner heading*/
.main-bnr-text{
  padding-left:5vw;
  font-size: 5vw;
}

.main-bnr-txt-spn{
  color: #FFAFB6;
  display: inline-block;
}

.main-bnr-txt-spn:hover{
  animation: wiggle 2s infinite;
}


/*banner animated link*/
.main-bnr-link-cntr{
  display: flex;
  flex-direction: row;
  position: relative;
  float: right;
  top:2vh;
  width:50vw;
  line-height: auto;
  height:6vh;
  font-size: 3vw;
}

.main-bnr-link{
  top:5vh;
  width:33ch;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(33);
  float:left;
  font-size: 2vw;
}

/*banner animated link formatting*/
.main-bnr-link-crs{
  padding-left: 1vw;
  border-right: 2px solid #1e5cba;
  animation: borderBlink 1s infinite;
  width:0;
  height:5vh;
}

.main-bnr-link-ln{
  background-color: #f2f2f2;
  margin-right:2vw;
  color: #adadad;
  font-family: monospace;
  font-size: 2vw;
  height:3vh;
}

.main-bnr-link-a{
  color: #55d962;
}

.main-bnr-link-href{
  color: #d15fe8;
}

.main-bnr-link-eq{
  color: #8f8f8f;
}

.main-bnr-link-link{
  color: #498ebf;
}

.main-bnr-link-main{
  text-decoration: none;
  color: black;
}


/*banner border*/
.main-border{
  border-top: dotted 5px;
  width:80vw;
  margin-left: 10vw;
  background-color: #f7f7f7;
  position: absolute;
}


/*main layout grid*/


/*grid container*/
.main-grid{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  will-change: contents;
  width:100vw;
  height: 100vh;
  position:static;
  grid-row-gap: 2vh;
  padding-left:5vw;
  padding-right:5vw;
  margin-bottom: 20vh;
  background-image: linear-gradient(#f7f7f7, #ffffff);
  padding-top:5vh;
  grid-auto-rows: 2fr;
}


/*grid items*/
.main-1{
  background-color: #E3FFE9;
  grid-area: main1;
  grid-row: 1;
  grid-column: 4fr;
  grid-column-start: 1;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  height:auto;
  animation: main-appear 1s 1 paused;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: 1;
}

.main-2{
  background-color: #FBB0FF;
  grid-area: main2;
  grid-row: 2;
  grid-column: 4fr;
  grid-column-start: 2;
  border-radius: 25px;
  z-index: 2;
  display: inline-flex;
  animation: main-appear 1s 1 paused;

}

.main-3{
  background-color: #FFA07D;
  grid-area: main3;
  grid-row:3;
  grid-column: 4fr;
  grid-column-start: 3;
  border-radius: 25px;
  z-index: 3;
  display: inline-flex;
  animation: main-appear 1s 1 paused;
  height:100%;
}



/*grid item internal layout*/


.main-logo{
  flex: 0 0 50%;
  height:100%;
}

.main-header{
  font-weight: 700;
  top:10vh;
  left: 5vw;
  font-size: 100%;
  display: inline;
  position: relative;
  font-size-adjust: auto;
}

.main-img{
  left:5vw;
  top:7vh;
  font-size: 10vw;
  line-height: auto !important;
  display: inline;
  position: relative;
}

.main-text{
  top:10vh;
  right:4vw;
  font-size: 1.5vw;
  flex: 0 0 50%;
  position: relative;
}

.main-text-spn{
  color: #ffffff;
  display: inline-block;
}

.main-text-spn:hover{
  animation: jump 1s infinite;
}



/****************************
CONTACT
****************************/


/*page text container*/
.contact-text-container{
  width: 50vw;
  display: inline-block;
  font-size: 2vw;
}


/*page text*/
.contact-text{
  margin-left: 10vw;
  margin-top:10vh;
  font-size: 2vh;
}


/*contact form*/
.form-container{
  width:30vw;
  position: absolute;
  display:inline;
  float:right;
  text-align: center;
  right: 5vw;
  border-radius: 25px;
  height:40vh !important;
  z-index: 100;
}

.form{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/*form items*/
.form-header{
  margin-top: 10vh;
  font-size: 2vw;
}

.form-subheader{
  font-size: 2vw;
}


/*form input*/
.contact-form-input{
  display: block;
  width: 90% !important;
  height:5vh;
  margin-top:5vh;
}

.contact-form-input-message{
  height:10vh !important;
  width: 90% !important;
  margin-top: 2vh !important;
}

.contact-form-input::placeholder{
  font-size: 1vw !important;
  text-align: center;
  vertical-align: middle;
}

.contact-form-button{
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 10vw;
  --bs-btn-font-size: 0.9vw !important;
}



/*********************************
PORTFOLIO
*********************************/

/*grid container*/
.portfolio-grid{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  grid-gap: 5%;
  width:90vw;
  left:5vw;
  height:25vw;
  margin-top:30vh;
}

/*grid items*/
.portfolio{
  text-align: center;
  vertical-align: middle;
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.web{
  grid-column: 1;
  grid-row: 2;
}

.design{
  grid-column: 2;
  grid-row: 2;
}

.art{
  grid-column: 3;
  grid-row: 2;
}

.portfolio-text{
  position: relative;
  vertical-align: middle;
}

.web-container{
  width:90vw;
  position: relative;
  left:5vw;
}

/*********************************************
MISC.
*********************************************/

.spc-100{
  height:100px;
}

.breadcrumb{
  position: relative;
  bottom:10vh;
  top:15vh;
  left:5vw;
}

.carousel{
  position: relative;
  top:15vh;
  width:90vw;
  left:5vw;
}

.carousel::after{
  position: absolute;
  grid-area: body;
  bottom: 0;
  height: 100%;
  width:100%;
  content: "";
  background: linear-gradient(to top,#f2f2f2,rgba(255,255,255, 0) 60%);
  pointer-events: none;
  left:0;
}


.carousel-caption{
  z-index: 10;
}

/**************************************************************
MEDIA - DYNAMIC LAYOUT
**************************************************************/

/*Desktop*/
/*High-res*/
@media screen and (min-width:1281px) {
  header{
    width: 100vw !important;
    height:5vw !important;
  }

  header::after{
    border-bottom: 7vw solid transparent;
  }

  .main-bnr-link-crs{
    height:5vh !important;
  }
}


/*Low-res*/
@media screen and (min-width:1025px) {

  header{
    width: 100vw !important;
    height:5vw !important;
  }

  header::after{
    border-bottom: 7vw solid transparent !important;
  }

  .portfolio-grid{
    height:25vw !important;
    margin-top:30vh !important;
    grid-template-rows: 1fr !important;
  }


  .web{
    grid-column: 1 !important;
    grid-row: 1 !important;
  }

  .design{
    grid-column: 2 !important;
    grid-row: 1 !important;
  }

  .art{
    grid-column: 3 !important;
    grid-row: 1 !important;
  }

  .contact-text-container{
    text-align: left !important;
    display: inline-block;
    width:50vw !important;
  }
  .contact-text{
    margin-left: 10vw !important;
    font-size:2vw !important;
  }

  .form-header{
    margin-top:3vh;
    font-size: 2vw !important;
  }

  .form-subheader{
    font-size: 2vw !important;
  }

  .form-container{
    height:70vh !important;
    height:50vh !important;
    display: inline-block !important;
    position: absolute;
    right:5vw !important;
    width:30vw !important;
  }


  .contact-form-input{
    margin-top:2vh;
    height:4vh;
  }

  .contact-form-input-message{
    height:8vh !important;
    width: 90% !important;
  }

  .main-grid{
    height: 70vh !important;
  }


}

/*Tablet*/
@media screen and (min-width:801px){

  main{
    margin-top:20vh;
    text-align: left !important;
    height:100vh;
  }

  header{
    width: 100vw;
  }

  header::after{
    border-right: 110vw solid #96FFAF;
    border-bottom: 7vw solid transparent;
  }

  .main-text{
    font-size: 2.5vh !important;
  }

  .main-img{
    left:5vw;
    top:7vh;
    font-size: 5vw !important;
  }

  .main-grid{
    height:70vh !important;
  }

  .main-bnr-link-crs{
    height:2vh;
  }



}

/*Transitional*/
@media screen and (min-width:701px) and (max-width: 800px){
  .main-bnr-link-crs{
    height:2vh !important;
  }
}

@media screen and (min-width: 321px) and (max-width:700px) {
  .main-bnr-link-crs{
    height:1vh !important;
  }

  .main-bnr-link-ln{
    height:0.5vh !important;
  }


}


/*Mobile*/
@media screen and (min-width:320px) {

  main{
    margin-top:0 !important;
    text-align: center;
    margin-bottom:20vh;
  }

  .main-2{
    grid-column-start: 1;
  }

  .main-3{
    grid-column-start: 1;
  }

  .main-grid{
    height:70vh !important;
  }


  .main-text{
    top:2vh;
    right:4vw;
    font-size: 3vw;
  }

  .main-header{
    top:5vh;
    left: 5vw;
    font-size: 100%;
  }

  .main-img{
    left:5vw;
    top:2vh;
    font-size: 10vw;
  }

  .contact-text-container{
    width:100%;
    text-align: center;
  }

  .contact-text{
    margin-left:0;
    font-size: 5vw;
  }

  .form-container{
    height:40vh;
    margin-top: 5vh;
    display: block;
    position: relative;
    right:10vw;
    width:80vw;

  }

  .form-header{
    font-size: 5vw;
    margin-top:2vh;
  }

  .form-subheader{
    font-size:4vw;
  }

  .form{
    width:100%;

  }

  .contact-form-input{
    margin-top:2vh;
    height:3vh;
  }

  .contact-form-input::placeholder{
    font-size:1vh !important;
  }

  .contact-form-input-message::placeholder{
    font-size:1vh !important;
    text-align: center;
  }

  header{
    width: 110vw;
    height:10vw;
  }

  header::after{
    border-right: 110vw solid #96FFAF;
    border-bottom: 17vw solid transparent;

  }

  .menu-button-container{
    font-size: 4vw;
  }

  .header-quote{
    font-size: 2vw;
  }

  .nav-exit{
    padding-top:4vh;
  }

  .main-bnr-link-ln{
    height:1vh !important;
  }

  .main-bnr-link-crs{
    height:1vh;
  }

  footer{
    margin-top:30vh;
  }

  .portfolio-grid{
    grid-template-rows: repeat(3,1fr);
    height:90vh;
    margin-top:25vh;
  }

  .portfolio{
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .web{
    grid-row: 1;
  }

  .design{
    grid-row: 2;
  }

  .art{
    grid-row: 3;
  }
}

/*HEIGHT*/
@media screen and (max-height:1145px){
  main{
    margin-top:20vh !important  ;
  }
  .form-container{
    height:50vh !important;
  }

  .contact-form-input{
    height:4vh !important;
  }
}

@media screen and (max-height: 801px) {
  .form-container{
    height:60vh !important;
  }
}

/*****************************
KEYFRAMES
*****************************/

/*HEADER AND NAVIGATION*/

@keyframes nav-item-border{
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@keyframes nav-exit-hover{
  0% {transform: scale(1);}
  50% {transform: scale(0.9);}
  100% {transform: scale(1);}
}

@keyframes menu-bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(5px);}
  100% {transform: translateY(0);}
}

@keyframes menu-item-appear{
  0% {opacity: 10%; transform: translateY(-100px);}
  100% { opacity: 100%; transform: translateY(0);}
}

@keyframes typing {
  from { width: 0 }
}

@keyframes borderBlink {
  0%{}
  50%{border-right-color: transparent;}
  100%{border-right: 2px solid #1e5cba;}
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate (Odeg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes jump {
  0%{}
    50%{transform: translateY(-2vh);}
    100%{transform: translateY(0);}
  }

  @keyframes main-appear {
    0% {opacity: 0%; transform: translateY(5vh);}
    100% {opacity: 100%; transform: translateY(0);}
  }
